extends layout

block content

  .Container
    .jumbotron
      h1= title


  h2 About this page:

  p This is a Twitterbot that automatically sends Bible verses three times a day with the purpose to share Bible verses with family and friends.
  p It also sends a message every time someone follows it.
  p Click on the following link  to open the Twitter page:
    a(href='https://twitter.com/wisdomfromafar')  @wisdomfromafar
    p


  hr

  p
  strong Newest verse:


  .Container
    div
      blockquote
        p
          #ourmanna-verse Loading...
          script(src='https://www.ourmanna.com/verses/api/js/?order=random', type='text/javascript')



  hr
  p
    strong Tweets by Scripture (@wisdomfromafar):

  | <a class="twitter-timeline" href="https://twitter.com/wisdomfromafar" data-widget-id="722487086096363520"> Tweets by @wisdomfromafar</a>
  | <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  p
  .copy  © 2016
    a(href='https://github.com/glendasp')  Glenda Pinho