extends layout

block content

  .Container
    .jumbotron
      h1= title


  h2 About this page:

  p This is a Twitterbot that automatically sends Bible verses three times a day with the purpose to share Bible verses with family and friends.
  p It also sends a message every time someone follows it.
  p Click on the following link  to open the Twitter page:
    a(href='https://twitter.com/wisdomfromafar')  @wisdomfromafar
    p


  hr

  p
  strong Today's verse is:


  .Container
    div
      blockquote
        p
          #ourmanna-verse Loading...
          script(src='https://www.ourmanna.com/verses/api/js/?order=random', type='text/javascript')



  p
  .copy  © 2016
    a(href='https://github.com/glendasp')  Glenda Pinho